#content {
	background-color: white;
	height: 100px;
	width: 100px;
}

#xxx{
	background-color: white;
}

#demo2{
	background-color: #0CE670;
	margin-left: 120px;
	height: 100px;
	width: 100px;
}

#demo3{
	background-color: #0CE670;
	margin-left: 220px;
	height: 200px;
	width: 120px;
}

#demo4{
	background-color: #0CE670;
	margin-left: 320px;
	height: 100px;
	width: 120px;
}